
html {
    background-color: white
    padding 10px;
}

header{
    text-align:center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    padding:10px;
    margin:0;
}

h1{
    text-align: center;
    font-size: 30px;
    border-top: 5px solid;
    border-spacing: 500px;
    border-top-color: #008500;
    font-family: Arial, Helvetica, sans-serif;
}    

h1.5{
    text-align:center;
}



h2{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
     /*content*/
     text-align: left;
    
}

h3{
    text-align:left;
}


/*flexbox*/
.parent {
    background-color: white;
    margin:40px;
    padding:50px;
    display: flex;
    flex-flow: row wrap; /*flex-direction flex-wrap*/
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.div1 {
    background-color: white;
    margin: 20px;
    width:900px;

    /*font style*/
    font-size: 15px;
    

    /*border*/
    border: 5px;
    border-style: solid;
    border-color: red;

   
    
}

.div2 {
    background-color: white;

    /*border*/
    border: 5px;
    border-color: red;
    border-style: solid;
    margin: 20px;
    width: 900px;

    /*font style*/
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    

    
}



